---
import type { GetStaticPaths } from "astro";
import Layout from "@layouts/Default.astro";

export const getStaticPaths = (() => {
  return [
    { params: { name: "bulbasaur" } },
    { params: { name: "charmander" } },
  ];
}) satisfies GetStaticPaths;

const { name } = Astro.params;
---

<Layout title="Pokemón X">
  <section class="mt-10 mx-10 flex flex-col justify-center items-center">
    <a href="/" class="hover:underline text-blue-500">Regresar</a>
    <h1 class="text-5xl capitalize">{name}</h1>
  </section>
</Layout>
